---
layout: default
---
<!-- _layouts/resumehtml.html -->
<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">Brian</span> 
      <span class="last-name">Isom</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val"><a href="mailto:brianisom23@gmail.com">brianisom23@gmail.com</a></span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">(865) 803-9459</span>
      <span class="separator"></span>
      <span class="phone">Web: </span>
      <span class="phone-val"><a href="brianisom.github.io">brianisom.github.io</a></span>
    </div>
    <div class="details">
      <a href="/assets/pdf/B_Isom_Resume2023.pdf">Click here to download a pdf version</a>
  </div>
  </div>
   <div class="details">
    <div class="section">
      <div class="section__title">Education</div>
       <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Utah State University | Jon M. Huntsman School of Business</div>
            <div class="addr">M.S. Economics</div>
            <div class="duration">Honors: Magna Cum Laude (GPA: 3.80)</div>
            <div class="duration">Research Fellow with the Center for Growth and Opportunity</div>
          </div>
          <div class="right">
            <div class="name">Logan, UT</div>
            <div class="desc">May 2018</div>
          </div>
        </div>
          <div class="section__list-item">
            <div class="left">
              <div class="name"></div>
              <div class="addr">B.S. Finance and Economics, Minor Physics</div>
              <div class="duration">Honors: Cum Laude (GPA: 3.58)</div>
              <div class="duration">Presidential Scholarship (full tuition), Balanced Man Scholarship (leadership), and Lillywhite Scholarship (business)</div>
            </div>
            <div class="right">
              <div class="desc">May 2016</div>
            </div>
         </div>
      </div>
  </div>
    <div class="section">
      <div class="section__title">Professional Experience</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">The Center for Growth and Opportunity at Utah State University</div>
            <div class="addr">Analyst, Energy and Environmental Policy</div>
            <div class="duration">
              <li>Authored 35+ publications ranging from rigorous, peer-reviewed studies to nationally syndicated opinion editorials</li>
              <li>Presented research at numerous conferences and seminars, where I communicated complex research findings to audiences including Members of Congress, state-level policy makers, economists, industry experts, and non-profit coalitions</li>
              <li>Utilized the R programming language to access data via API’s, scrape websites, construct datasets, and run statistical analysis. Proficient with the tidyverse suite of packages, among others</li>
              <li>Served as an issue expert on multiple podcasts and nationally syndicated radio shows</li>
              <li>Managed teams of between 5-15 students on anywhere between 2-6 projects at a time, who helped conduct background research, collect data, and co-author reports</li>
              </div>
          </div>
          <div class="right">
            <div class="name">Logan, UT</div>
            <div class="desc">Jan 2018 - Present</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="addr">Manager, Student Research Fellowship</div>
            <div class="duration">
              <li>Re-structured the fellowship to involve students more deeply in the Center’s research process. Changes resulted in an almost 2x increase in student research output and a 10x increase in the number of students presenting at research conferences</li>
              <li>Oversaw the hiring, training, and management of 40 graduate and undergraduate student research fellows each semester</li>
              <li>Rebuilt the student tracking database to improve data quality and cross-team data access</li>
              <li>Designed and implemented a curriculum focused on developing students’ critical thinking, research, writing, and public speaking skills</li>
              <li>Taught workshops each semester to develop student proficiency in R, Python, and Excel and various economic and political theories</li>
              </div>
          </div>
          <div class="right">
            <div class="desc">Jan 2021 - Present</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="addr">Manager, Environmental Stewardship Research</div>
            <div class="duration">
              <li>Developed the annual strategy for the energy and environment research portfolio</li>
              <li>Organized conference events and workshops to encourage discussions between scholars, stakeholders, and thought-leaders on pressing policy issues</li>
              <li>Worked with external scholars to publish actionable research. This included developing research questions, providing feedback, and identifying outreach opportunities</li>
              <li>Managed the peer-review and publication process for all publications within the environmental stewardship portfolio</li>          
              </div>
          </div>
          <div class="right">
            <div class="desc">Jan 2018 - Jan 2021</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Strata Policy</div>
            <div class="addr">Policy Analyst</div>
            <div class="duration">
              <li>Conducted economic and policy related research on the economic impacts of hydraulic fracturing, the effects of public institutions on water markets in the Western US, the effects of public policy on innovation in the nuclear industry, and the impact of renewable portfolio standards on state-wide economies</li>
              <li>Managed a team of 4-8 student researchers on two separate projects at a time</li>
              <li>Presented research at numerous conferences around the world including the Southern Economic Association’s Annual Conference and the Association for Private Enterprise Education’s Annual Conference</li>         
              </div>
          </div>
          <div class="right">
            <div class="name">Logan, UT</div>
            <div class="desc">Jul 2014 - Aug 2017</div>
          </div>
        </div>
      </div>
    </div>
     <div class="section">
       <div class="section__title">Skills</div>
       <div class="skills">
         <div class="skills__item"><b>Programming Languages</b>
          <li>R (advanced)</li>
          <li>LaTeX (advanced)</li>
          <li>Python (intermediate)</li>
          <li>SQL (intermediate)</li>
          <li>YAML (intermediate)</li>
          <li>HTML (intermediate)</li>
          <li>CSS (intermediate)</li>
          <li>Ruby (beginner)</li>
         </div>
         <div class="skills__item"><center><b>Software</b></center>
          <li>MS Excel (advanced)</li>
          <li>Airtable (advanced)</li>
          <li>GitHub (intermediate)</li>
          <li>Tableau (intermediate)</li>
          <li>ArcGIS (intermediate)</li>
          <li>Salesforce (intermediate)</li>
          <li>PowerBI (beginner)</li>
         </div>
         <div class="skills__item"><b>Spoken Languages</b>
          <li>English (native)</li>
          <li>Finnish (fluent)</li>
         </div> 
       </div>
         
       </div>
     </div>
  </div>
</div>